<div class="col-sm-3 col-md-4"></div>
<div class="col-sm-6 col-md-4">
    {% if session['id'] == 1 %}
    <form class="form-signin" action="/generate-guest-register-action" method="post">
        </br>
        <label for="inputEmail" class="sr-only">Guests Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Guests Email" required autofocus>
        <select class="form-control" id="inputAccessLevelId" name="inputAccessLevelId" required>
            <option value="" selected>Select Access Level</option>
            <option value="1">Full</option>
            <option value="2">Read-Only</option>
            <option value="3">Public-Only</option>
        </select>
        </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
        </br>
    </form>
    {% endif %}
</div>
