<div class="col-sm-3 col-md-4"></div>
<div class="col-sm-6 col-md-4">
    <form class="form-signin" action="/reset-password-action" method="post">
        <h4 class="form-signin-heading">Reset Password</h4>
        <label for="inputNewPassword" class="sr-only">Password</label>
        <input type="password" name="inputNewPassword" id="inputNewPassword" class="form-control" placeholder="New Password (at least 6 characters)" required>
        </br>
        <label for="confirmNewPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" placeholder="Confirm New Password" required>
        <input type="hidden" name="inputHash" id="inputHash" class="form-control" value="{{ hash }}" required>
        </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        </br>
        <a href="/signin">or signin</a>
    </form>
</div>