<div class="col-sm-3 col-md-4"></div>
<div class="col-sm-6 col-md-4">
    <form class="form-signin" action="/signin-action" method="post">
        <h4 class="form-signin-heading">Sign In</h4>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </br>
        <a href="/register">need to register?</a>
    </form>
</div>
