<!DOCTYPE HTML>
<html>
	<head>
	    <title>Photos by Tim Nummy Photography</title>

	    <!-- Meta Stuff -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="en_US" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<!-- Load Bootstrap CSS CDN-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Load Font-Awesome CSS CDN -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css' ) }}">
		<!-- Load Custon JS CDN -->
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/core.js' ) }}"></script> -->

		<!-- Load JQuery JS CDN -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Load Bootstrap JS CDN -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	  </head>
    {% block layout %}{% endblock %}
<script>(function ($) {
  $(document).ready(function(){

    // hide .navbar first
    // $(".navbar").hide();

    // fade in .navbar
    $(function () {
        $(window).scroll(function () {

                 // set distance user needs to scroll before we start fadeIn
            if ($(window).width() < 998) {
				if ($(this).scrollTop() < 100) {
					$('.navbar').fadeIn();
				} else {
					$('.navbar').fadeOut();
				}
			}
        });
    });

});
  }(jQuery));</script>
</html>